
# HTID:18820363: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18820363:

ErrorDocument 404 http://localhost/public_html/php/404.php
